# =========================
# OS / Sistema
# =========================
.DS_Store
Thumbs.db
$RECYCLE.BIN/

# =========================
# Logs
# =========================
*.log
log.txt
npm-debug.log*
yarn-error.log*

# =========================
# Temp files
# =========================
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*

# =========================
# Angular / Build
# =========================
/dist
/tmp
/out-tsc
/bazel-out
/.angular
/.angular/cache

# =========================
# Ionic
# =========================
/.ionic
/www

# =========================
# Capacitor
# =========================
android/
ios/

# =========================
# Node
# =========================
/node_modules

# =========================
# Environment
# =========================
.env
.env.local
.env.*.local

# =========================
# Coverage / Test
# =========================
/coverage
/.nyc_output

# =========================
# Cache
# =========================
.cache/
.eslintcache

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# IDEs
# =========================
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# =========================
# Misc
# =========================
/.nx
/.nx/cache
/connect.lock
/libpeerconnection.log
testem.log
/typings

# =========================
# Local configs
# =========================
config.local.json