<div class="form-group">
  <div class="form-label" *ngIf="label || icon">
    <span *ngIf="icon">{{ icon }}</span>
    <span>{{ label }}</span>
  </div>
  <div class="input-wrapper">
    <span class="input-icon" *ngIf="inputIcon">{{ inputIcon }}</span>
    <input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      [required]="required"
      [disabled]="disabled"
      [attr.autocomplete]="autocomplete"
      class="form-input"
      (blur)="onTouched()"
      (focus)="focused.emit()"
      (input)="onInputChange($event)">
  </div>
</div>
