<app-form-section [title]="'fichaAnestesica.tecnica.title' | translate" icon="⚕️" [formGroup]="formGroup">
  <div class="tec-grid-3col">
    <div class="technique-card">
      <div class="card-header-simple">{{ 'fichaAnestesica.tecnica.anestesiaGeralCardHeader' | translate }}</div>
      <app-radio-group
        [label]="'fichaAnestesica.tecnica.anestesiaGeralLabel' | translate"
        [options]="yesNoOptions"
        formControlName="anestesiaGeral"
        [required]="true"
      ></app-radio-group>

      <div class="divider"></div>

      <div class="group-title">{{ 'fichaAnestesica.tecnica.respiracaoTitle' | translate }}</div>
      <div class="sub-group">
        <div class="sub-label">{{ 'fichaAnestesica.tecnica.assistidaLabel' | translate }}</div>
        <app-checkbox-group
          [options]="assistidaOptions"
          formControlName="respiracaoAssistida"
          direction="horizontal"
          class="grid-checkbox-2col"
        ></app-checkbox-group>
        <div class="sub-label mt-12">{{ 'fichaAnestesica.tecnica.controladaLabel' | translate }}</div>
        <app-checkbox-group
          [options]="controladaOptions"
          formControlName="respiracaoControlada"
          direction="horizontal"
          class="grid-checkbox-2col"
        ></app-checkbox-group>
      </div>

      <div class="divider"></div>
      <app-radio-group
        [label]="'fichaAnestesica.tecnica.circuitoAbsorvedorLabel' | translate"
        [options]="yesNoOptions"
        formControlName="circuitoAbsorvedor"
        [required]="true"
      ></app-radio-group>
    </div>

    <div class="technique-card">
      <div class="card-header-simple">{{ 'fichaAnestesica.tecnica.viaAereaCardHeader' | translate }}</div>
      <div class="group-title mini">{{ 'fichaAnestesica.tecnica.dispositivosTitle' | translate }}</div>

      <div class="va-device-list">
        <div class="va-row">
          <ion-checkbox formControlName="vaGuedel" labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.guedel' | translate }}</ion-checkbox
          >
          <div class="va-n-box">
            <span>{{ 'fichaAnestesica.tecnica.numeroAbrev' | translate }}</span
            ><input
              type="text"
              formControlName="guedelNo"
              class="va-small-input"
            />
          </div>
        </div>
        <div class="va-row">
          <ion-checkbox formControlName="vaMascLaringea" labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.mascLaringea' | translate }}</ion-checkbox
          >
          <div class="va-n-box">
            <span>{{ 'fichaAnestesica.tecnica.numeroAbrev' | translate }}</span
            ><input
              type="text"
              formControlName="mascLaringeaNo"
              class="va-small-input"
            />
          </div>
        </div>
        <div class="va-row">
          <ion-checkbox formControlName="vaMascFacial" labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.mascFacial' | translate }}</ion-checkbox
          >
          <div class="va-n-box">
            <span>{{ 'fichaAnestesica.tecnica.numeroAbrev' | translate }}</span
            ><input
              type="text"
              formControlName="mascFacialNo"
              class="va-small-input"
            />
          </div>
        </div>
        <div class="va-row">
          <ion-checkbox formControlName="vaTubo" labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.tubo' | translate }}</ion-checkbox
          >
          <div class="va-n-box">
            <span>{{ 'fichaAnestesica.tecnica.numeroAbrev' | translate }}</span
            ><input
              type="text"
              formControlName="tuboNo"
              class="va-small-input"
            />
          </div>
        </div>

        <div class="va-tubo-details" *ngIf="formGroup.get('vaTubo')?.value">
          <div class="tubo-col">
            <div class="checkbox-tile">
              <ion-checkbox formControlName="cuff" labelPlacement="end"
                >{{ 'fichaAnestesica.tecnica.cuff' | translate }}</ion-checkbox
              >
            </div>
            <div class="checkbox-tile">
              <ion-checkbox formControlName="oral" labelPlacement="end"
                >{{ 'fichaAnestesica.tecnica.oral' | translate }}</ion-checkbox
              >
            </div>
            <div class="checkbox-tile">
              <ion-checkbox formControlName="nasal" labelPlacement="end"
                >{{ 'fichaAnestesica.tecnica.nasal' | translate }}</ion-checkbox
              >
            </div>
          </div>
          <div class="iot-col">
            <div class="checkbox-tile iot-title">
              <ion-checkbox formControlName="iot" labelPlacement="end"
                >{{ 'fichaAnestesica.tecnica.iot' | translate }}</ion-checkbox
              >
            </div>
            <div class="iot-sub" *ngIf="formGroup.get('iot')?.value">
              <div class="checkbox-tile">
                <ion-checkbox formControlName="facil" labelPlacement="end"
                  >{{ 'fichaAnestesica.tecnica.facil' | translate }}</ion-checkbox
                >
              </div>
              <div class="checkbox-tile">
                <ion-checkbox formControlName="dificil" labelPlacement="end"
                  >{{ 'fichaAnestesica.tecnica.dificil' | translate }}</ion-checkbox
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="technique-card">
      <div class="card-header-simple">{{ 'fichaAnestesica.tecnica.viaAereaTipoCardHeader' | translate }}</div>

      <div class="group-title mini">{{ 'fichaAnestesica.tecnica.tipoTitle' | translate }}</div>
      <div class="va-tiles-grid">
        <div class="checkbox-tile">
          <ion-checkbox formControlName="tipoSimples" labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.tipoSimples' | translate }}</ion-checkbox
          >
        </div>
        <div class="checkbox-tile">
          <ion-checkbox formControlName="tipoEndobronquico" labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.tipoEndobronquico' | translate }}</ion-checkbox
          >
        </div>
        <div class="checkbox-tile">
          <ion-checkbox formControlName="tipoAramado" labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.tipoAramado' | translate }}</ion-checkbox
          >
        </div>
        <div class="checkbox-tile">
          <ion-checkbox formControlName="tipoOutras" labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.tipoOutras' | translate }}</ion-checkbox
          >
        </div>
      </div>
      <div class="tile-input-row" *ngIf="formGroup.get('tipoOutras')?.value">
        <input
          type="text"
          formControlName="tipoOutrasTexto"
          [placeholder]="'fichaAnestesica.tecnica.quaisPlaceholder' | translate"
          class="tile-input"
        />
      </div>

      <div class="divider light"></div>

      <div class="group-title mini">{{ 'fichaAnestesica.tecnica.tecnicasTitle' | translate }}</div>
      <div class="va-tiles-grid">
        <div class="checkbox-tile">
          <ion-checkbox formControlName="tecLaringoscopia" labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.tecLaringoscopia' | translate }}</ion-checkbox
          >
        </div>
        <div class="checkbox-tile">
          <ion-checkbox formControlName="tecRetrograda" labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.tecRetrograda' | translate }}</ion-checkbox
          >
        </div>
        <div class="checkbox-tile">
          <ion-checkbox
            formControlName="tecVideolaringoscopia"
            labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.tecVideolaringoscopia' | translate }}</ion-checkbox
          >
        </div>
        <div class="checkbox-tile">
          <ion-checkbox
            formControlName="tecBroncofibroscopia"
            labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.tecBroncofibroscopia' | translate }}</ion-checkbox
          >
        </div>
        <div class="checkbox-tile">
          <ion-checkbox formControlName="tecTraqueostomia" labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.tecTraqueostomia' | translate }}</ion-checkbox
          >
        </div>
        <div class="checkbox-tile">
          <ion-checkbox formControlName="tecVAOutras" labelPlacement="end"
            >{{ 'fichaAnestesica.tecnica.tecOutras' | translate }}</ion-checkbox
          >
        </div>
      </div>
      <div class="tile-input-row" *ngIf="formGroup.get('tecVAOutras')?.value">
        <input
          type="text"
          formControlName="tecVAOutrasTexto"
          [placeholder]="'fichaAnestesica.tecnica.quaisPlaceholder' | translate"
          class="tile-input"
        />
      </div>
    </div>
  </div>

  <div class="tec-grid-3col mt-24">
    <div class="technique-card">
      <div class="card-header-simple">{{ 'fichaAnestesica.tecnica.bloqueiosEspinhaisCardHeader' | translate }}</div>
      <app-radio-group
        [label]="'fichaAnestesica.tecnica.realizado' | translate"
        [options]="yesNoOptions"
        formControlName="bloqueiosEspinhais"
        [required]="true"
      ></app-radio-group>

      <div
        *ngIf="formGroup.get('bloqueiosEspinhais')?.value === 'sim'"
        class="cond-block"
      >
        <div class="divider light"></div>
        <div class="group-title mini">{{ 'fichaAnestesica.tecnica.nivelPuncaoTitle' | translate }}</div>
        <app-checkbox-group
          [options]="nivelPuncaoOptions"
          formControlName="nivelPuncao"
          direction="horizontal"
          class="grid-checkbox-2col"
        ></app-checkbox-group>

        <div class="divider light"></div>
        <app-radio-group
          [label]="'fichaAnestesica.tecnica.posicaoLabel' | translate"
          [options]="posicaoPuncaoOptions"
          formControlName="posicaoPuncao"
          direction="horizontal"
        ></app-radio-group>

        <app-radio-group
          [label]="'fichaAnestesica.tecnica.cateterLabel' | translate"
          [options]="yesNoOptions"
          formControlName="cateter"
          [required]="true"
        ></app-radio-group>
        <app-radio-group
          [label]="'fichaAnestesica.tecnica.opioideLabel' | translate"
          [options]="yesNoOptions"
          formControlName="opioide"
          [required]="true"
        ></app-radio-group>

        <div class="field-block">
          <label class="field-label">{{ 'fichaAnestesica.tecnica.numeroPuncoesLabel' | translate }}</label>
          <input
            type="text"
            formControlName="numeroPuncoes"
            class="tile-input"
          />
        </div>
      </div>
    </div>

    <div class="technique-card">
      <div class="card-header-simple">{{ 'fichaAnestesica.tecnica.sedacaoOxigenioCardHeader' | translate }}</div>
      <app-radio-group
        [label]="'fichaAnestesica.tecnica.sedacaoLabel' | translate"
        [options]="yesNoOptions"
        formControlName="sedacao"
        [required]="true"
      ></app-radio-group>

      <div class="divider light"></div>

      <app-radio-group
        [label]="'fichaAnestesica.tecnica.suplementacaoO2Label' | translate"
        [options]="yesNoOptions"
        formControlName="suplementacaoO2"
        [required]="true"
      ></app-radio-group>

      <div
        *ngIf="formGroup.get('suplementacaoO2')?.value === 'sim'"
        class="cond-block"
      >
        <div class="group-title mini">{{ 'fichaAnestesica.tecnica.tipoLabel' | translate }}</div>
        <div class="va-tiles-grid">
          <div class="checkbox-tile" *ngFor="let opt of suplementacaoO2Options">
            <ion-checkbox
              [checked]="
                (formGroup.get('tipoSuplementacaoO2')?.value || []).includes(
                  opt.value
                )
              "
              (ionChange)="toggleO2($event.detail.checked, opt.value)"
              labelPlacement="end"
            >
              {{ opt.label }}
            </ion-checkbox>
          </div>
          <div class="checkbox-tile">
            <ion-checkbox
              formControlName="suplementacaoO2TemOutros"
              labelPlacement="end"
              >{{ 'fichaAnestesica.tecnica.outrosLabel' | translate }}</ion-checkbox
            >
          </div>
        </div>
        <div
          class="tile-input-row"
          *ngIf="formGroup.get('suplementacaoO2TemOutros')?.value"
        >
          <input
            type="text"
            formControlName="suplementacaoO2Outros"
            [placeholder]="'fichaAnestesica.tecnica.especifiquePlaceholder' | translate"
            class="tile-input"
          />
        </div>
      </div>
    </div>

    <div class="technique-card">
      <div class="card-header-simple">{{ 'fichaAnestesica.tecnica.bloqueioPlexoCardHeader' | translate }}</div>
      <app-radio-group
        [label]="'fichaAnestesica.tecnica.bloqueioPlexoLabel' | translate"
        [options]="yesNoOptions"
        formControlName="bloqueioPlexo"
        [required]="true"
      ></app-radio-group>

      <div
        *ngIf="formGroup.get('bloqueioPlexo')?.value === 'sim'"
        class="cond-block"
      >
        <div class="divider light"></div>
        <app-radio-group
          [label]="'fichaAnestesica.tecnica.neuroestimuladorLabel' | translate"
          [options]="yesNoOptions"
          formControlName="neuroestimulador"
          [required]="true"
        ></app-radio-group>

        <div
          *ngIf="formGroup.get('neuroestimulador')?.value === 'sim'"
          class="cond-sub"
        >
          <div class="group-title mini">{{ 'fichaAnestesica.tecnica.nervosEstimuladosTitle' | translate }}</div>
          <app-checkbox-group
            [options]="nervosEstimuladosOptions"
            formControlName="nervosEstimulados"
            direction="vertical"
          ></app-checkbox-group>
        </div>
      </div>
    </div>
  </div>
</app-form-section>
