<section class="pc">
  <div class="pc__main">
    <div class="pc__identity">
      <span class="pc__avatar" aria-hidden="true">{{ initials }}</span>
      <div class="pc__id-text">
        <h2 class="pc__name">{{ patientName || ('sharedComponents.patientInfoCard.patientNameFallback' | translate) }}</h2>
        <div class="pc__tags">
          <span class="pc__tag pc__tag--record" *ngIf="record">{{ 'sharedComponents.patientInfoCard.recordPrefix' | translate }} {{ record }}</span>
          <span class="pc__tag" *ngIf="bed">{{ 'sharedComponents.patientInfoCard.bedPrefix' | translate }} {{ bed }}</span>
          <span class="pc__tag" *ngIf="room">{{ 'sharedComponents.patientInfoCard.roomPrefix' | translate }} {{ room }}</span>
          <span class="pc__tag" *ngIf="surgicalCenter">{{ surgicalCenter }}</span>
          <span class="pc__tag" *ngIf="unit">{{ unit }}</span>
        </div>
      </div>
    </div>

    <dl class="pc__strip">
      <div class="pc__item">
        <dt>{{ 'sharedComponents.patientInfoCard.birthDateLabel' | translate }}</dt>
        <dd>{{ birthDate || '--' }}</dd>
      </div>
      <div class="pc__item">
        <dt>{{ 'sharedComponents.patientInfoCard.ageLabel' | translate }}</dt>
        <dd>{{ age || '--' }} {{ 'sharedComponents.patientInfoCard.yearsSuffix' | translate }}</dd>
      </div>
      <div class="pc__item">
        <dt>{{ 'sharedComponents.patientInfoCard.genderLabel' | translate }}</dt>
        <dd>{{ genderLabel }}</dd>
      </div>
      <div class="pc__item">
        <dt>{{ 'sharedComponents.patientInfoCard.weightLabel' | translate }}</dt>
        <dd>{{ weight || '--' }} kg</dd>
      </div>
      <div class="pc__item pc__item--procedure">
        <dt>{{ 'sharedComponents.patientInfoCard.procedureLabel' | translate }}</dt>
        <dd [title]="procedure">{{ procedure || ('sharedComponents.patientInfoCard.procedureFallback' | translate) }}</dd>
      </div>
    </dl>
  </div>

  <div class="pc__allergy" *ngIf="hasAllergies">
    <ion-icon name="warning" aria-hidden="true"></ion-icon>
    <strong>{{ 'sharedComponents.patientInfoCard.allergyLabel' | translate }}</strong>
    <span>{{ formattedAllergies }}</span>
  </div>
</section>
