<div class="records-section">
    <div class="records-header">
        <div class="records-title">
            <ion-icon name="list-outline"></ion-icon> Histórico de Sinais
        </div>
        <div class="records-actions">
            <ion-button size="small" fill="outline" color="secondary" (click)="addCustomField()" [disabled]="!!selectedRecord || isSurgeryFinished">
                <ion-icon name="add-outline" slot="start"></ion-icon> Campo
            </ion-button>
            <ion-button size="small" fill="solid" color="primary" (click)="addTimePoint()" [disabled]="!!selectedRecord || isSurgeryFinished">
                <ion-icon name="add-outline" slot="start"></ion-icon> Novo Registro
            </ion-button>
        </div>
    </div>

    <div class="table-wrapper">
        <table class="vital-table">
            <thead>
                <tr>
                    <th class="col-hora">Hora</th>
                    <th>PAS</th>
                    <th>PAD</th>
                    <th>PAM</th>
                    <th>FC</th>
                    <th>SpO₂</th>
                    <th>EtCO₂</th>
                    <th>BIS</th>
                    <th>PVC</th>
                    <th>PCAP</th>
                    <th>T(°C)</th>
                    <!-- Colunas Dinâmicas (+ Campo) -->
                    <th *ngFor="let field of customFields" class="custom-th" (click)="editCustomFieldMenu(field)">
                        {{ field.label }}
                        <ion-icon name="settings-outline" class="th-icon" *ngIf="!isSurgeryFinished"></ion-icon>
                    </th>
                    <th class="col-actions"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of vitalRecords; trackBy: trackByRecords" 
                    [class.selected-row]="record === selectedRecord"
                    (click)="selectRecord(record)">
                    <td class="col-hora">{{ record.time }}</td>
                    <td><input type="number" [ngModel]="record.pas" readonly></td>
                    <td><input type="number" [ngModel]="record.pad" readonly></td>
                    <td><input type="number" [ngModel]="record.pam" readonly></td>
                    <td><input type="number" [ngModel]="record.fc" readonly></td>
                    <td><input type="number" [ngModel]="record.spo2" readonly></td>
                    <td><input type="number" [ngModel]="record.etco2" readonly></td>
                    <td><input type="number" [ngModel]="record.bis" readonly></td>
                    <td><input type="number" [ngModel]="record.pvc" readonly></td>
                    <td><input type="number" [ngModel]="record.pcap" readonly></td>
                    <td><input type="number" [ngModel]="record.temp" readonly></td>
                    <!-- Células Dinâmicas -->
                    <td *ngFor="let field of customFields">
                        <input type="text" [(ngModel)]="record.custom![field.key]" [readonly]="record !== selectedRecord || isSurgeryFinished">
                    </td>
                    <td class="col-actions">
                        <ion-icon name="trash-outline" class="btn-del" *ngIf="!isSurgeryFinished" (click)="deleteRecord($event, record)"></ion-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
