<div class="fullscreen-container">
  <div class="main-content">
    <div class="login-card">
      <div class="login-header">
        <div class="login-logo-wrapper">
          <img
            src="assets/Logo.png"
            alt="Logo do Sistema"
            class="login-logo-img"
          />
        </div>
        <h1 class="login-system-name">{{ 'login.systemName' | translate }}</h1>
      </div>

      <app-error-message [message]="error || ''"></app-error-message>

      <div class="status-group">
        <div
          class="status-item"
          [class.connected]="serverConnected"
          [class.disconnected]="!serverConnected"
          [title]="'login.networkTitle' | translate"
        >
          <ion-icon name="wifi-outline"></ion-icon>
          <span>{{ 'login.networkLabel' | translate }}</span>
        </div>

        <div
          class="status-item"
          [class.connected]="aghuConnected"
          [class.disconnected]="!aghuConnected"
          [title]="'login.aghuTitle' | translate"
        >
          <ion-icon name="cloud-outline"></ion-icon>
          <span>{{ 'login.aghuLabel' | translate }}</span>
        </div>
      </div>

      <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
        <app-custom-input
          [label]="'login.usernameLabel' | translate"
          type="text"
          [placeholder]="'login.usernamePlaceholder' | translate"
          [required]="true"
          autocomplete="nope"
          (focused)="clearError()"
          formControlName="username"
        >
        </app-custom-input>

        <app-custom-input
          [label]="'login.passwordLabel' | translate"
          type="password"
          [placeholder]="'login.passwordPlaceholder' | translate"
          [required]="true"
          autocomplete="new-password"
          (focused)="clearError()"
          formControlName="password"
        >
        </app-custom-input>

        <div class="form-options">
          <a href="#" class="forgot-link" (click)="esqueceuSenha($event)"
            >{{ 'login.forgotPassword' | translate }}</a
          >
        </div>

        <app-loading-button
          [loading]="loading"
          [disabled]="form.invalid"
          type="submit"
        >
          <span>{{ 'login.submit' | translate }}</span>
        </app-loading-button>

        <div class="login-notice">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ 'login.notice' | translate }}</span>
        </div>
      </form>
    </div>
  </div>

  <div class="footer">
    <div class="footer-text">
      {{ 'login.footerLine1' | translate }} <br />
      {{ 'login.footerLine2' | translate }}
    </div>
  </div>
</div>
