<ion-content class="ion-padding">
  <app-header-institucional title="Ficha Anestésica" logo="assets/logo.png"></app-header-institucional>
  <app-connection-status></app-connection-status>
  <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
    <app-custom-input
      label="Usuário"
      icon="person"
      type="text"
      required
      formControlName="username">
    </app-custom-input>
    <app-custom-input
      label="Senha"
      icon="lock-closed"
      type="password"
      required
      formControlName="password">
    </app-custom-input>
    <app-error-message [message]="error"></app-error-message>
    <app-loading-button
      [loading]="loading"
      [disabled]="form.invalid"
      type="submit"
      expand="block">
      Entrar
    </app-loading-button>
  </form>
</ion-content>
