<div class="hospital-header" style="display: flex; justify-content: space-between; align-items: center;">
    <div class="hospital-info">
        <div class="logo-container">
            <img class="main-logo" src="assets/Logo.png" alt="Logo do Sistema">
        </div>
        <div class="hospital-text">
            <div class="university">
                Sistema Interno de Gerenciamento Anestésico
            </div>
        </div>
    </div>

    <div class="header-right">
        <div class="server-status">
            <span class="dot"></span>
            <span>Servidor: Conectado</span>
        </div>
        <div *ngIf="showDoctorInfo" class="doctor-profile">
            <span class="doctor-name">Dra. Amanda Onishi</span>
        </div>
        <div *ngIf="showLogout" class="logout-container">
            <button class="btn-logout-custom" (click)="logout()">
                <span>Sair</span>
            </button>
        </div>
    </div>
</div>