<header class="hospital-header">
  <div class="header-left">
    <button
      type="button"
      class="header-back-btn"
      *ngIf="showBackButton"
      (click)="voltar()"
      [attr.aria-label]="'header.back' | translate"
    >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </button>
  </div>

  <div class="header-center">
    <button
      type="button"
      class="header-icon-btn"
      *ngIf="showPreAnestesicaButton"
      (click)="openPreAnestesica.emit()"
      [attr.aria-label]="preAnestesicaButtonLabel"
      [title]="preAnestesicaButtonLabel"
    >
      <span class="header-icon-btn-icon header-icon-btn-icon--pre">
        <ion-icon name="document-text-outline"></ion-icon>
      </span>
      <span class="header-icon-btn-label" *ngIf="preAnestesicaButtonLabel">{{
        preAnestesicaButtonLabel
      }}</span>
    </button>

    <button
      type="button"
      class="header-icon-btn"
      *ngIf="showAnestesicaButton"
      (click)="openAnestesica.emit()"
      [attr.aria-label]="anestesicaButtonLabel"
      [title]="anestesicaButtonLabel"
    >
      <span class="header-icon-btn-icon header-icon-btn-icon--anes">
        <ion-icon name="document-text-outline"></ion-icon>
      </span>
      <span class="header-icon-btn-label" *ngIf="anestesicaButtonLabel">{{
        anestesicaButtonLabel
      }}</span>
    </button>

    <button
      type="button"
      *ngFor="let btn of actionButtons; trackBy: trackActionButton"
      class="header-icon-btn"
      [disabled]="btn.disabled"
      [attr.aria-label]="btn.ariaLabel"
      [title]="btn.ariaLabel"
      (click)="onActionButtonClick(btn)"
    >
      <span
        class="header-icon-btn-icon"
        [ngClass]="'header-icon-btn-icon--' + (btn.color || 'primary')"
      >
        <ion-icon [name]="btn.icon"></ion-icon>
      </span>
      <span class="header-icon-btn-label" *ngIf="btn.label">{{ btn.label }}</span>
    </button>
  </div>
</header>
