<div class="status-bar">
  <div class="status-left">
    <span class="time">{{ timeStr }}</span>
  </div>

  <div class="status-group">
    <div
      class="status-item"
      [class.synced]="syncStatus === SyncStatus.Synced"
      [class.pending]="syncStatus === SyncStatus.Pending"
      [class.syncing]="syncStatus === SyncStatus.Syncing"
      [title]="'statusBar.syncTitle' | translate"
    >
      <span class="badge" *ngIf="pendingDrafts > 0">
        +{{ pendingDrafts }}
      </span>
      <ion-icon
        [name]="
          syncStatus === SyncStatus.Syncing
            ? 'sync-outline'
            : 'cloud-upload-outline'
        "
      >
      </ion-icon>
      <span>{{ 'statusBar.records' | translate }}</span>
    </div>

    <div
      class="status-item"
      [class.connected]="serverConnected"
      [class.disconnected]="!serverConnected"
      [title]="'statusBar.networkTitle' | translate"
    >
      <ion-icon name="wifi-outline"></ion-icon>
      <span>{{ 'statusBar.network' | translate }}</span>
    </div>

    <div
      class="status-item"
      [class.connected]="aghuConnected"
      [class.disconnected]="!aghuConnected"
      [title]="'statusBar.aghuTitle' | translate"
    >
      <ion-icon name="cloud-outline"></ion-icon>
      <span>{{ 'statusBar.aghu' | translate }}</span>
    </div>
  </div>
</div>
